.container {
    background-image: url("https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c25vd3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 1000px;

    
    
}




h1 {
    font-size: 5rem;
    color: black;
    text-align: center;
    margin: 3% auto;
    font-weight: bold;
}
.all-row {
    margin: 2% auto;
    text-align: center;
}

.small-text {
    font-size: 3rem;
    font-weight: bold;
}
.date-text{
    font-size: 6rem;
}