#email {
  color: white;
  width: 50%;
  height: auto;
  background-color: var(--background);
  margin-left: 25%;
}

.label {
  color: white;
}

.from {
  border: 10px solid black;
  background-color: black;
  display: block;
}
.form input {
  width: 100%;
}
